/* color 1: #491542 purple */
/* color 2: #95999B gray   */
/* color 3: #00CFC3 blue   */
/* color 4: #CAEA72 green  */
/* color 5: #EAE272 yellow */
/* color 6: #ffffff white  */
/* color 7: #000000 black  */
body {
}
.navbar-default .navbar-nav>li>a {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #AAA;
  padding-top: 0px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 28px;
}
.navbar-default .navbar-nav>li>a:visited {
  color: #AAA;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #00CFC3;
}
.navbar-default .navbar-nav>li>a:active {
  color: #CAEA72;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar {
  background-color: #FFFFFF;
  margin: 0px;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-3 {
  padding: 0px 16px 8px 0px;
  background-color: #00CFC3;
  color: #FFFFFF;
  font-size: 54px;
  font-weight: 400;
  text-align: right;
  height: 65px;
  line-height: 60px;
}
.navbar .navbar-default {
  margin: 0px;
}
.navbar-toggle {
  margin-top:46px;
  margin-right: 0px;
}
.sp-logo {
  margin-top: 29px;
  margin-bottom: 27px;
  text-align: center;
}
.sp-logo-text {
  font-size: 54px;
  font-weight: 400;
  color: #95999B;
}
.sp-logo-text:link {
  color: #95999B;
  text-decoration: none;
}
.sp-logo-text:visited {
  color: #95999B;
  text-decoration: none;
}
.sp-logo-text:hover {
  color: #95999B;
  text-decoration: none;
}
.sp-logo-text:active {
  color: #95999B;
  text-decoration: none;
}
.sp-logo-highlight {
  color: #00CFC3;
}
